.button {
  font: inherit;
  background-color: #3f51b5;
  color: white;
  border: 1px solid #3f51b5;
  padding: 0.5rem 1.5rem;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.800rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.button:hover,
.button:active {
  background-color: #33059e;
  border-color: #33059e;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.commentText {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commentTextArea {
  resize: vertical;
  width: 90%;
  height: 3.5rem;
  min-height: 2rem;
  max-height: 12rem;
}

.scoreGroup {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars {
  padding-right: 2rem;
}
