.mainContainer {
  display: flex;
  width: 100%;
  /* height: 100%; */
  position: absolute;
  justify-content: end;
  /* margin-top: 4vw; */
  min-width: 600px;
  right: 20px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  width: 85%;
  font-size: 0.5rem;

  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  /* box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1000;
}

.header {
  font-size: 1rem;
}

.categoryContainer {
  background-color: rgb(255, 255, 255);
  max-height: 2.5rem;
}

.buttonContainer {
  margin-top: 20px;
}

@media (max-width: 400px) {
  .mainContainer {
    justify-items: flex-end;
    justify-content: right;
    right: -40px;
  }
  .infoContainer {
    position: relative;
    height: 100%;
    width: 50%;
    min-height: 2rem;
    max-height: 40rem;
    bottom: 0;
  }
}

/* PRUEBAS */
.button {
  font: inherit;
  background-color: #3f51b5;
  color: white;
  border: 1px solid #3f51b5;
  padding: 0.5rem 1.5rem;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

.button:hover,
.button:active {
  background-color: #33059e;
  border-color: #33059e;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}

.error {
  font: inherit;
  color: rgb(208, 65, 65);
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}
