.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
}

.header_logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.header_logo_image {
  width: 5rem;
  height: 5rem;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1.5rem;
}

.header_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.header_logo_sub {
  font-size: 1.65rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.header_links {
  display: flex;
}

.header_link {
  padding: 2.2rem 3rem;
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
  transition: color 0.3s;
}

.header_link:hover {
  color: #facf0f;
  cursor: pointer;
}

.links_wrapper_login {
  display: flex;
  align-items: center;
}

.header_link_login {
  margin-top: 0.7rem;
  padding: 1.5rem 2.5rem;
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
  transition: color 0.3s;
  background-color: #4b42ff;
  color: white;
  border-radius: 5px;
}

.header_link_login:hover {
  cursor: pointer;
  background-color: #221ab5;
}

@media (max-width: 400px) {
  .header_container {
    overflow: hidden;
  }
}
