.container {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* max-width: 90rem;
  width: 92%;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem; */
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 90vh;
  position: relative;
  /* min-height: 80rem;
  max-height: 120rem; */
  /* position: relative; */
}

.text {
  font-size: large;
  font-weight: 700;
  text-align: center;
}

.leaflet-container {
  max-width: 100%;
  width: 100%;
}

@media (max-width: 400px) {
  .container {
    max-width: 100%;
    width: 100%;
  }
}
