.main {
  margin: 0rem auto;
  width: 100%;
  /* max-width: 40rem; */
  height: 95%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  top: 0;
  left: 0;
}

.header {
  height: 11%;
  min-height: 50px;
}

/* @media (max-width: 400px) {
  .header {
    height: 10%;
  }
} */
