.header {
  width: 100%;
  height: 8rem;
  display: flex;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
  /* background-color: #008080; */
  background: #fff;
  box-shadow: 0px 15px 10px -15px #111;
  margin-bottom: 10px;
}

.logo {
  font-size: 2rem;
  color: black;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav li {
  margin-left: 1.5rem;
  font-size: 1.25rem;
}

.nav a {
  text-decoration: none;
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  transition: color 0.3s;
  color: black;
}

.nav a:hover {
  color: rgb(90, 166, 80);
}
