.container {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 85%;
  width: 100%;
}

.text {
  font-size: large;
  font-weight: 700;
  text-align: center;
}

.info_container {
  position: absolute;
  right: 50px;
  width: 50%;
  height: 80%;
  z-index: 400;
  width: 600px;
  max-width: 100%;
  min-height: 200px;
}

.map_container {
  min-height: 100%;
  max-height: 100%;
}

.container_info {
  height: 95%;
  max-width: 100%;
  border-radius: 10px;
  width: 95%;
  /* margin-right: 1rem; */
  justify-self: center;
  /* margin-top: 15px; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px 5px;
  overflow: auto;
}

@media (max-width: 400px) {
  .container {
    max-width: 100%;
    width: 100%;
  }

  .info_container {
    bottom: 0;
    right: 0;
    margin-bottom: 50px;
  }

  .container_info {
    margin: 1rem;
    /* max-height: 50%; */
  }

  .map_container {
    min-height: 50%;
    max-height: 50%;
  }
}
