.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 92%;
}

.text {
  font-size: large;
  font-weight: 700;
  text-align: center;
}
